#!/bin/sh

cd {{siptrackweb_dir}}/stweb

echo "from django.contrib.auth.models import User; User.objects.create_superuser('admin', 'stefan.midjich@cygate.se', 'admin')" | {{siptrackweb_virtualenv}}/bin/python manage.py shell
