; {{ ansible_managed }}

[program:{{siptrackweb_servicename}}]
command={{global_virtualenv_path}}/bin/gunicorn stweb.wsgi --workers 5 --log-level DEBUG --bind :{{siptrackweb_port}}
directory={{siptrackweb_dir}}/stweb
pythonpath={{global_virtualenv_path}}/lib/python2.7/site-packages
user={{siptrack_user}}
group=virtualenv
umask=002
autostart=true
autorestart=true
stdout_logfile=/var/log/siptrack_gunicorn.log
loglevel=debug
redirect_stderr=true
stopsignal=QUIT
environment=PATH="{{global_virtualenv_path}}/bin:%(ENV_PATH)s"

