# {{ ansible_managed }}

server {
  listen 80;
  server_name {{ siptrackweb_domain }} {{ siptrackweb_domain_aliases | join(' ') }};

  error_log /var/log/nginx/{{ siptrackweb_domain }}_error.log;
  access_log /var/log/nginx/{{ siptrackweb_domain }}_access.log;

  {% if siptrackweb_ssl_letsencrypt %}
  location ^~ /.well-known/acme-challenge/ {

    # Set correct content type. According to this:
    # https://community.letsencrypt.org/t/using-the-webroot-domain-verification-method/1445/29
    # Current specification requires "text/plain" or no content header at all.
    # It seems that "text/plain" is a safe option.
    default_type "text/plain";

    # This directory must be the same as in /etc/letsencrypt/cli.ini
    # as "webroot-path" parameter. Also don't forget to set "authenticator" parameter
    # there to "webroot".
    # Do NOT use alias, use root! Target directory is located here:
    # /var/www/common/letsencrypt/.well-known/acme-challenge/
    root         {{ siptrackweb_dir }}/static;
  }

  # This apparently hides the acme dir by responding 404 instead of 403.
  location = /.well-known/acme-challenge/ {
    return 404;
  }
  {% endif %}

  {% if siptrackweb_ssl %}
  location / {
    rewrite ^ https://{{ siptrackweb_domain }}$request_uri? permanent;
  }
  {% else %}
  location /static/ {
    alias {{ siptrackweb_dir }}/static/;
    autoindex off;
  }

  location / {
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header Host $http_host;
    proxy_read_timeout {{ siptrackweb_worker_timeout | default(1200) }}s;
    proxy_redirect off;

    if (!-f $request_filename) {
      proxy_pass http://{{ siptrackweb_host }}:{{ siptrackweb_port }};
      break;
    }
  }
  {% endif %}
}

{% if siptrackweb_ssl %}
server {
  listen 443 ssl;
  server_name {{ siptrackweb_domain }};

  error_log /var/log/nginx/{{ siptrackweb_domain }}_error.log;
  access_log /var/log/nginx/{{ siptrackweb_domain }}_access.log;

  ssl_certificate {{ siptrackweb_ssl_certificate }};
  ssl_certificate_key {{ siptrackweb_ssl_certificate_key }};

  location /static/ {
    alias {{ siptrackweb_dir }}/static/;
    autoindex off;
  }

  location / {
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header Host $http_host;
    proxy_read_timeout 600s;
    proxy_redirect off;

    # if ssl
    proxy_set_header X-Forwarded-Proto https;

    if (!-f $request_filename) {
      proxy_pass http://{{ siptrackweb_host }}:{{ siptrackweb_port }};
      break;
    }
  }

}
{% endif %}
